@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://imgur.com/gallery/qplEFmX');
body {
    margin: 0;
    background: #000000;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 18px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #000000;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

canvas {
    display: block;
}
